 <%= link_to 'Back to All Kittens', kittens_path %>
 
 <h2><%= @kitten.name %></h2>
 <% %i[name age cuteness softness].each do |attribute| %>
  <div class="attribute">
    <%= attribute.to_s.titleize %>:
    <%= @kitten[attribute] %>
  </div>
<% end %>

<div class="delete"><%= link_to 'Delete This Kitten', @kitten, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></div>
